<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="CommectActionSet"
            visible="true"
            id="com.swe573.sakalatex.actionSet">
         <action
               class="com.swe573.sakalatex.actions.CommentInAction"
               icon="icons/left.ico"
               id="com.swe573.sakalatex.actions.commentin"
               label="comment-in"
               style="push"
               toolbarPath="sakaGroup"
               tooltip="comment-in">
         </action>
         <action
               class="com.swe573.sakalatex.actions.CommentOutAction"
               icon="icons/right.ico"
               id="com.swe573.sakalatex.actions.commentout"
               label="comment-out"
               toolbarPath="sakaGroup"
               tooltip="comment-out">
         </action>
         <action
               class="com.swe573.sakalatex.actions.FootnoteAction"
               icon="icons/foot.ico"
               id="com.swe573.sakalatex.actions.footnote"
               label="footnote"
               style="push"
               toolbarPath="sakaGroup"
               tooltip="footnote">
         </action>
         <action
               class="com.swe573.sakalatex.actions.HyperlinkAction"
               icon="icons/hyperlink.ico"
               id="com.swe573.sakalatex.actions.hyperlink"
               label="hyperlink"
               style="push"
               toolbarPath="sakaGroup"
               tooltip="hyperlink">
         </action>
         <action
               class="com.swe573.sakalatex.actions.RefreshPdfAction"
               icon="icons/refresh.ico"
               id="com.swe573.sakalatex.actions.refreshpdf"
               label="refreshpdf"
               style="push"
               toolbarPath="sakaGroup">
         </action>
         <action
               class="com.swe573.sakalatex.actions.PartialPreviewAction"
               icon="icons/search.ico"
               id="com.swe573.sakalatex.actions.partialpreview"
               label="partial preview"
               style="push"
               toolbarPath="sakaGroup"
               tooltip="Partiak Preview">
         </action>
      </actionSet>
   </extension>
   <extension
         id="com.swe573.sakalatex.PDFBuilder"
         name="com.swe573.sakalatex.PDFBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
        <run
               class="com.swe573.sakalatex.PDFBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.swe573.sakalatex.SakalatexProjectNatureId"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.swe573.sakalatex.SakalatexProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="sakalatex.category"
            class="com.swe573.sakalatex.SakalatexWizard"
            icon="icons/saka.ico"
            id="com.swe573.sakalatex.wizard1"
            name="Sakalatex Project Wizard">
      </wizard>
      <category
            id="sakalatex.category"
            name="Sakalatex">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.swe573.sakalatex.SakalEditor"
            contributorClass="com.swe573.sakalatex.SakalatexActionBarContributor"
            default="true"
            extensions="tex"
            icon="icons/doc.ico"
            id="com.swe573.sakalatex.sakalatexEditor"
            name="SakalatexEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.swe573.sakalatex.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.swe573.sakalatex.SakalatexPreferencePage"
            id="com.swe573.sakalatex.SakalatexPreferencePage"
            name="Sakalatex Preferences">
      </page>
      <page
            category="com.swe573.sakalatex.SakalatexPreferencePage"
            class="com.swe573.sakalatex.SakalatexColorPreferencePage"
            id="com.swe573.sakalatex.SakalatexColorPreferencePage"
            name="Color">
      </page>
   </extension>
   <extension
         point="org.jpedal.eclipse.jpedal">
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sakalatex.filesystem1">
         <run
               class="sakalatex.FileSystem1">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="sakalatex.OutlineViewPart"
            id="sakalatex.outlineview"
            name="sakalatexoutlineview"
            restorable="true">
      </view>
   </extension>

</plugin>
