<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="CommectActionSet"
            visible="true"
            id="com.swe573.sakalatex.actionSet">
         <action
               label="comment-out"
               class="com.swe573.sakalatex.actions.CommentOutAction"
               tooltip="comment-out"
               toolbarPath="sampleGroup"
               id="com.swe573.sakalatex.actions.commentout">
         </action>
         <action
               class="com.swe573.sakalatex.actions.CommentInAction"
               id="com.swe573.sakalatex.actions.commentin"
               label="comment-in"
               style="push"
               toolbarPath="sampleGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         id="com.swe573.sakalatex.PDFBuilder"
         name="com.swe573.sakalatex.PDFBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
        <run
               class="com.swe573.sakalatex.PDFBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.swe573.sakalatex.SakalatexProjectNatureId"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.swe573.sakalatex.SakalatexProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.swe573.sakalatex.SakalatexWizard"
            id="com.swe573.sakalatex.wizard1"
            name="SakalatexProjectWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.swe573.sakalatex.SakalEditor"
            contributorClass="com.swe573.sakalatex.SakalatexActionBarContributor"
            default="true"
            extensions="tex"
            id="com.swe573.sakalatex.sakalatexEditor"
            name="SakalatexEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.swe573.sakalatex.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
